<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- General Settings -->
    <add key="Published To Preview" value="true"/>
	<add key="Mail Send Option Content Rejected" value="true"/>
	<!--End of General Settings -->
	
    <!--Target Type Configuration-->    
    <add key="Preview Publication Target" value="tcm:0-21-65537"/>
    <add key="Live Publication Target" value="tcm:0-21-65537"/>    
    <!--End of Target Type Configuration-->

    <!--Publish to Publication Id Configuration-->    
    <add key="Publish To PublicationID" value="All"/>
    <!--End of Publish to Publication Id Configuration-->

    <!-- Mail Configuration-->
    <add key="Mail From" value="mail.from@<example>.com"/>
    <add key="Message Subject" value="New Workflow notification"/>
    
    <!-- Mail Configuration for Approver -->
    <add key="MessageBodyXslt Send For Approval" value="<Tridion Home>\config\templates\Mail Templates\EmailNotifierXslt Content Approval.xslt"/>
    <add key="Mail To Send For Approval" value="approvergroup.mailid@<example>.com"/>
    <!-- End Mail Configuration for Approver-->

    <!-- Mail Configuration for Publisher -->
    <add key="MessageBodyXslt Content Approved" value="<Tridion Home>\config\templates\Mail Templates\EmailNotifierXslt Publish Content.xslt"/>
    <add key="Mail To Content Approved" value="publishergroup.mailid@<example>.com"/>
    <!-- End Mail Configuration for Publisher-->

    <!-- Mail Configuration for Content Rejected -->
    <add key="MessageBodyXslt Content Rejected" value="<Tridion Home>\config\templates\Mail Templates\EmailNotifierXslt Reject Content.xslt"/>    
    <!-- End Mail Configuration for Content Rejected-->
    
    <!-- End of Mail Configuration-->

    <!-- SMTP Server Configuration-->
    <add key="Mail Domain Name" value="<example>.com"/>
    <add key="Mail Server" value="<SMTP MAIL SERVER>"/>
    <add key="Mail Server Authentication ID" value="<Authentication ID of Mail Server>"/>
    <add key="Mail Server Authentication Password" value="<Password>"/>
    <!--End of SMTP Server Configuration-->
    
  </appSettings>
  
</configuration>